/*part of nav*/
body,ul,li,h1,h2,h3,h4,input,ol,header{margin: 0;padding: 0;}
ul, li{list-style:none;}
a{text-decoration: none;outline: none;}
html *,
html *:before,
html *:after {box-sizing:border-box;}
body{overflow-x: hidden;}


/*js generate css*/

#ball{width: 6px;
height: 6px;
background: #fff;
border-radius: 50%;
position: absolute;
}


 /*basic css*/
 #asteriods img{position: absolute;left: -640px;}

#nav{background: url(../../imgs/bg/nav_bg.gif) repeat-x; height: 200px;margin: 0 auto;}
#nav .nav-container{width: 1280px;height: 168px;  margin: auto; position: absolute;  top: 30px; left: 0; right: 0;}
.nav-menu .btn{width: 44px;height: 30px;background: url(../../imgs/bg/nav-menu-bg.gif) no-repeat;display: block;
	position: fixed;top: 50px;left: 50px;}
.nav-menu .btn:hover{background: url(../../imgs/bg/nav-menu-bg_hover.gif) no-repeat;}
.nav-menu ul {position: relative;left: 14px;top: 70px;display: none;}
.nav-menu ul li, .nav-r-menu .lang-menu ul li {margin-bottom: 8px;background-color: #fdfdfd;float: left;border-radius: 5px;clear: both;
	overflow: hidden;}
.nav-menu ul li a, .nav-r-menu .lang-menu ul li a{   border-radius: 5px;color: #041527;display: inline-block;font-size: 14px;
	font-weight: bold;height: 40px;line-height: 40px;padding: 0 20px;position: relative;z-index: 1;font-family: Arial, sans-serif;
cursor: pointer;}
.nav-menu ul li a:before, .nav-r-menu .lang-menu ul li a:before{content: ''; position: absolute;top: 0;left:0;width: 0;height: 100%;
background: #02bb71;-webkit-transition: 0.5s; transition: 0.5s;}
.nav-menu ul li a:hover, .nav-r-menu .lang-menu ul li a:hover{color: #fff;}
.nav-menu ul li a:hover:before,  .nav-r-menu .lang-menu ul li a:hover:before{width: 100%;z-index: -1;}
.nav-menu ul li a:before, .nav-r-menu .lang-menu ul li a:before{content: '';position: absolute;top: 0;left: 0;width: 0;height: 100%;
background: #02bb71;}
.nav-menu ul li a:hover, .nav-r-menu .lang-menu ul li a:hover{color: #fff;}
.nav-menu ul li a:hover:before,  .nav-r-menu .lang-menu ul li a:hover:before{width: 100%;z-index: -1;}

.nav-mid-logo{width: 128px;height: 106px;margin: -32px auto;}

.nav-r-menu{position: absolute;right: 30px;top: 20px;}
.nav-r-menu  .intro{background: #02bb71;color: #fdfdfd;font-size: 10px;font-family:  "PT Sans",Arial,sans-serif;
-webkit-transform:scale(0.9); box-shadow: 0 4px #017e4c;vertical-align:middle;height: 30px;display:inline-block;line-height:32px;
padding:0 20px;border-radius: 5px;font-weight: bold;letter-spacing: 1px;}
.nav-r-menu .intro:hover{box-shadow: 0 2px #017e4c;top: 2px;position: relative;}
.nav-r-menu .lang-btn{color: #fdfdfd;font-family: arial;font-weight: bold;font-size: 18px;top: 4px;position: relative; }
.nav-r-menu .lang-btn span{width: 12px;height: 8px;background: url(../../imgs/icon/switch-lang-ico.gif) no-repeat;position: relative;
	display: inline-block;right: -6px;}
.nav-r-menu .lang-menu ul{display: none;margin-left: 210px;margin-top: 20px;}
@-moz-document url-prefix(){ .nav-r-menu .lang-menu ul {margin-left: 196px;}
.lang-btn{margin-left: 10px;}
}



#header{height: 240px;background:url(../../imgs/bg/header_bg.gif) repeat-x;}
#header h1{color: #00C6FF;font-family: 'Open Sans', Arial, sans-serif;font-size: 56px;line-height: 60px; text-align: center;font-weight: normal;}
#header span{font-size: 120px;display: block;line-height: 140px;font-weight: bold;}
#header .moon{position: absolute;top: 210px; width: 196px;height: 196px;right: 0;left: 900px;margin: auto;}




#main .top-title{background: url(../../imgs/bg/main-top-title_bg.gif) repeat-x; height: 162px;margin-top: -28px;}
.top-title img{width: 108px;position: absolute;top: 400px;right: 0;left: -800px;margin: auto;}
.top-title h4{color: #fff;font-family: 'PT Sans', Arial, sans-serif;font-weight: normal;font-size: 20px;
text-align: center;margin-top: -20px;}
.btn-arrow-down .arrow-down-p1,.btn-arrow-down .arrow-down-p2,.btn-arrow-down .arrow-down-p3{width: 58px;
	height: 41px;position: absolute;display: inline-block;}
.btn-arrow-down{display: inline-block; position: absolute;left: 50%; margin-left: -29px;z-index: 10;margin-top: 30px;}
.btn-arrow-down .arrow-down-p1{background:url(../../imgs/pictures/arrow-down-1.png) no-repeat center 0 ; opacity: 100}
.btn-arrow-down .arrow-down-p2{background:url(../../imgs/pictures/arrow-down-2.png)center 16px no-repeat;opacity: 100}
.btn-arrow-down .arrow-down-p3{background:url(../../imgs/pictures/arrow-down-3.png)center 30px no-repeat;opacity: 100}


.center-planet, .big-planet, .big-planet h2, .big-planet h4{font-family:'PT Sans',Arial,sans-serif;}
.big-planet .planet-pic, .planet-pic-2{position: absolute;left: 50%;margin-left: -528px;top: 500px;overflow: hidden;z-index: 5;}
.center-planet{background: url(../../imgs/bg/center-planet_bg.gif) repeat-x;height: 1100px;}
.round-dot{background: url(../../imgs/pictures/planet-big-with-orbits.png) no-repeat;z-index: 2;margin:0 auto;width: 944px;height: 944px;}
.round-dot span{position: absolute;border-radius: 50%;background: red;left: 50%;}

.round-dot .round-1:after, .round-dot .round-2:after, .round-dot .round-3:after{position:absolute;background:#fff;border-radius:50px;
	content:"";}
.round-dot .round-1:after, .round-dot .round-2:after{;width: 10px;height: 10px;margin-top: -5px;}
.round-dot .round-3:after{width: 6px;height: 6px;margin-top: 874px;}
.round-dot .round-1, .round-dot .round-2, .round-dot .round-3{left: 50%;position: absolute;height: 472px;transform-origin: 50% 100%;}
.round-dot .round-3{height: 440px;margin-top: 32px;}
.big-planet .planet-text{margin: -600px auto; text-align: center;line-height: 60px;}
.big-planet h2{color: #fdc12d;font-size: 40px;font-weight: bold;}
.big-planet h2 span{font-style: italic;}
.big-planet h4{color: #00C6FF;font-size: 18px;}
.big-planet p{width: 440px;color: #fff;font-size: 16px;line-height: 35px;font-family: 'PT Sans Narrow', Arial, sans-serif;margin: 0 auto 60px;}
.big-planet a{background: #02bb71;color: #fdfdfd;box-shadow: 0 4px #017e4c;vertical-align:middle;height: 50px;
	display:inline-block;line-height:50px;padding:0 35px;border-radius: 5px;font-weight: bold; font-size:18px;}
.big-planet a:hover{box-shadow: 0 2px #017e4c;margin-top:2px;position: relative;}
#astro {position: absolute;top: 1160px;left: 10px;right:1200px;margin: auto;width: 200px;}
#astro img{width: 110%;height: 110%;}



.e-sports{margin: 0 auto;background: url(../../imgs/bg/e-sports_bg.gif) repeat-x; height: 2420px;margin-top: -162px;}
.e-sports-con{width: 990px;margin: 160px auto 30px;}
.e-sports-con h3{font-size: 42px;margin-bottom: 25px;color: #fff;text-align: center;font-family: 'PT Sans', Arial, sans-serif;
font-weight: bold}
.e-sports-con h4{margin: 25px 0;color: #00C6FF;font-size: 20px;font-family: 'PT Sans', Arial, sans-serif;text-align: center;}
.e-sports-con p{color: #fff;font-size: 20px;line-height: 35px;font-family: 'PT Sans Narrow', Arial, sans-serif;text-align: center;
margin: 0 auto;}
.rhombs{margin: 100px auto; width: 1300px;cursor: pointer;position: relative;}
.rhombs>div{margin-left: 150px;}
.rhombs-block{display: inline-block;width: 250px;height: 250px;border: 3px solid #fff;background: #041527;vertical-align: middle;
transform:rotate(45deg);-ms-transform:rotate(45deg); -moz-transform:rotate(45deg); -webkit-transform:rotate(45deg); 
-o-transform:rotate(45deg); box-shadow: 0 0 40px rgba(254,254,254);}
.rhombs-block .rhombs-pic img{display: block;margin: 64px 0 0 64px;z-index: 2;position: absolute;}

.rhombs-block .rhombs-pic .popcorn{display: block;margin: 50px 0 0 60px;}
.rhombs-block .rhombs-pic .dollars{display: block;margin: 64px 0 0 32px;}
.rhombs-block .back-con, .rhombs-block img{transform:rotate(-45deg);-ms-transform:rotate(-45deg);-moz-transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);-o-transform:rotate(-45deg); }
.rhombs-block .back-con{width: 250px;height: 250px;background: #fff;transform: rotate(0deg);-ms-transform:rotate(0deg);
	-moz-transform:rotate(0deg);-webkit-transform:rotate(0deg);-o-transform:rotate(0deg); z-index: 1;display: none;}
.rhombs-block span{color: #00C6FF;font-weight: bold;font-family: 'PT Sans', Arial, sans-serif;font-size: 30px; transform: rotate(-45deg);
display: block;position: relative;left: -20px;top: 60px;}
.rhombs-block span b{font-size: 20px;}
.rhombs-block p, .rhombs .block2 span, .rhombs .block3 span{text-align: center;position: relative;}
.rhombs-block p{transform: rotate(-45deg);display: block;width: 180px;margin: 80px auto;color: #8a8a8a;font-size: 14px;
line-height: 24px;font-family: 'PT Sans Narrow', Arial, sans-serif;}
.rhombs .block2 span{left: -40px;top: 40px;}
.rhombs .block2 p{margin:30px  0 0 50px;}
.rhombs .block3 span{left: -30px;top: 60px;}
.rhombs .block3 p{margin:50px  0 0 70px;}
.block1:hover .rhombs-pic, .block2:hover .rhombs-pic, .block3:hover .rhombs-pic{transform: rotateY(180deg);}
.block1:hover .back-con, .block2:hover .back-con, .block3:hover .back-con{display: block;}

.viewers{margin-top: 120px;}
.viewers h3{font-size: 42px;margin-bottom: 25px;color: #fff;font-size: 46px;font-family: 'PT Sans', Arial, sans-serif;font-weight: bold;
text-align: center;}.viewers p{color: #fff;font-size: 16px;line-height: 35px;font-family: 'PT Sans Narrow', Arial, sans-serif;text-align: center;}


.rocket-data{margin: 300px auto;text-align: center;}
.rocket{display: inline-block;vertical-align: top;width: 150px;margin-left: 60px;}
.rocket img{    display: block;  margin: 0 auto;}
.rocket .text-top{margin-bottom: 30px;color: #ccc;font-size: 18px;font-family: 'Open Sans', Arial, sans-serif;font-weight: bold;}
.rocket .rocket-container{margin: 30px auto 50px;}
.rocket .text-bottom{margin-top: 25px;color: #fff;font-family: Arial, sans-serif;font-size: 14px;}
.rocket5 .text-top{color: #00C6FF;font-size: 28px;}


.e-bottom-text{width: 990px;margin: -160px auto 30px;text-align: center;}
.e-sport-bottom h3, .e-sport-bottom h4, .e-sport-bottom .steps .step-intro{font-family: 'PT Sans', Arial, sans-serif;font-weight: bold;}
.e-sport-bottom h3{font-size: 42px; margin-bottom: 25px; color: #fff;font-style: italic;}
.e-sport-bottom h4{margin: 25px 0;color: #00C6FF;font-size: 20px;}
.e-sport-bottom p{color:#fff;font-size: 18px;line-height: 35px;font-family: 'PT Sans Narrow', Arial, sans-serif;}
.e-sport-bottom ul{text-align: center;}
.e-sport-bottom ul li{display: inline-block;vertical-align: top;width:300px;height: 270px;margin-left: 10px;}
.e-sport-bottom ul li img{height: 36%;width: auto;margin: 0 auto 30px;display: block;}
.e-sport-bottom .steps .num{width: 40px;height: 40px;line-height: 40px;border-radius: 50%;
	background: #041527;font-size: 20px;font-weight: bold;color: #00C6FF;}
.e-sport-bottom .steps .step-intro{display: inline-block;margin: 6px 0 0 6px;color: white;font-size: 16px;line-height: 28px;text-align: left;}


.our-project{background: url(../../imgs/bg/last_bg.gif) repeat-x;height: 2900px;}
.our-project h3, .our-project h3, .planet-2-area .planet-2-text p{font-family: 'PT Sans', Arial, sans-serif;} 
.planet-2-area .planet-2-orbit, .planet-2-area .orbit-rocket, .planet-2-area .planet-2-text, .planet-2-area .planet-2-pic{position: absolute;}
.our-project-text{width: 990px;margin: 0 auto 30px;text-align: center;}
.our-project h3{margin-bottom: 25px;color: #fff;font-size: 50px;font-weight: bold;}
.our-project h4{margin: 25px 0;color: #00C6FF; font-size: 20px; }
 .planet-2-area{position: relative;width: 600px;height: 560px;overflow: visible;margin: 0 auto;}
.planet-2-area .planet-2-orbit{top: 0;left: 20px;width: 560px;height: 560px;-moz-border-radius: 50%
	-webkit-border-radius: 50%;border-radius: 50%;border: 2px dashed #fff;}
.planet-2-area .orbit-rocket{z-index: 9;top: 0%;left: 50%;margin: -19px 0 0 -17px;}
.aaa{width:2px;height: 280px;position: absolute;left: 50%;margin-top: -36px;transform-origin: 50% 100%;}
.aaa:after{background: url(../../imgs/pictures/rocket-yellow.png) no-repeat;position: absolute;width:66px;height: 36px;
content: "";transform: rotate(92deg);}
.planet-2-area .planet-2-pic{top: 50%;left: 50%;margin: -244px 0 0 -244px;}
.planet-2-area .planet-2-text{top: 200px;left: -110px;z-index: 10;}
.planet-2-area .planet-2-text p{text-align: center;color: #fff;font-size: 22px;}
.planet-2-area .planet-2-text .offsets{width: 900px;padding-left: 310px;}
.planet-2-area .planet-2-text .title{display: block;width: 826px;margin: 20px 0;text-align: center;}

.our-project-bottom{margin-top: 50px;width: 990px;margin: 60px auto 30px;text-align: center;}
.our-project-bottom p{color: #fff;font-size: 20px;line-height: 35px;font-family: 'PT Sans Narrow', Arial, sans-serif;}
.our-project-bottom .pic-list{ margin-top: 20px;}
.our-project-bottom .pic-list img{display: inline-block;vertical-align: middle;}


.platform-mod{margin-top: -1900px;}
.platform-mod .platform-mod-text{width: 990px;margin: 0 auto 30px;}
.platform-mod .platform-mod-text h3{font-size: 42px;margin-bottom: 25px;color: #fff;font-family: 'PT Sans', Arial, sans-serif;
font-weight: bold;text-align: center;}
.platform-mod .platform-mod-text p{color: #fff;font-size: 20px;line-height: 35px;font-family: 'PT Sans Narrow', Arial, sans-serif;
text-align: center;}

.mod-list{position: relative;z-index: 1000;width: 100%;height: 640px;}
.mod-list >li{float: left;width: 20%;font-size: 14px;font-family: Arial,sans-serif;}
.mod-list article{display: block;}
.mod-list .mod-pic{position: relative;width: 100%;height: 360px;padding: 25px 0;background: #112132;overflow: hidden;}
.mod-list .mod-pic img{filter: grayscale(1);-webkit-filter: grayscale(1);display: block;position: absolute;margin: 0 auto;
top: 50%;left: 50%;-moz-transform: translate(-50%, -50%) scale(0.7);-ms-transform: translate(-50%, -50%) scale(0.7);
-webkit-transform: translate(-50%, -50%) scale(0.7);transform: translate(-50%, -50%) scale(0.7);width: 140%;height: 60%;}
.mod-list .mod-pic:hover img{filter: grayscale(0);-webkit-filter: grayscale(0);-webkit-transform:scale(1.1); -moz-transform:scale(1.1);
position: absolute;left: -20%;top: 20%;}


.mod-list .mod-info{position: relative;color: #fff;text-align: center;}
.mod-list .mod-info:hover .info-entire{display: block;}
.mod-list .mod-info:hover .info-summary{display: none;}
.mod-list .mod-info h3{font-size: 16px;margin: 20px 0 0;color: #00C6FF;}
.mod-list .mod-info .info-summary{position: absolute;top: 25px;left: 0;width: 100%;font-size: 16px;line-height: 35px;}
.mod-list .mod-info .info-entire{height: 176px;padding-top: 0px;margin-top: 0px;padding-bottom: 25px; margin-bottom: 0px;
width: 100%;padding: 0 25px 25px;position: absolute;top: 25px left:0;display: none;animation: all 10s;}
.mod-list .mod-info .info-entire p{font-size: 16px;line-height: 24px;text-align: center;}
.mod-list .mod-info .info-entire ul li{color: #02bb71;font-size: 16px;line-height: 26px;}


.tech-support{margin-top: -100px;text-align: center;}
.tech-support .tech-support-text{width: 990px;margin: 0px auto 30px;}
.tech-support .tech-support-text h3{margin-bottom: 25px;color: #fff;font-size: 42px;font-family: 'PT Sans', Arial, sans-serif;font-weight: bold;}
.tech-support .tech-support-text p{color: #fff;font-size: 16px;line-height: 35px;font-family: 'PT Sans Narrow', Arial, sans-serif;}
.planet-3-area{position: relative;width: 100%;height: 610px;margin: 0 auto;}
.planet-3-area p{font-size: 14px;line-height: 24px;text-align: center;font-family: 'PT Sans Narrow', Arial, sans-serif;color: #fff;}
.planet-3-area span{font-size: 14px;color: #fff;font-family: 'PT Sans Narrow', Arial, sans-serif;}
.planet-3-area .planet-3-left{background: url(../../imgs/bg/plus-1.png) no-repeat center top; left: -800px;position: absolute;top: 160px;
	width: 220px;padding-top: 145px;right: 0;margin: auto;}
.planet-3-area .planet-3-mid{position: absolute;top: 0;left: 50%;margin-left: -230px;width: 459px;height: 459px;
padding-top: 145px;background: url(../../imgs/bg/orbits.png);text-align: center;color: #fff;}
.planet-3-area .planet-3-mid span{font-size: 100px;line-height: 110px;font-weight: bold;font-family: 'PT Sans', Arial, sans-serif;}
.planet-3-area .planet-3-mid p{width: 180px;margin: 0 auto;font-size: 14px;line-height: 24px;text-align: center;}
.planet-3-area .planet-3-right{background: url(../../imgs/bg/plus-2.png) no-repeat center top; right: -800px;position: absolute;
	top: 160px;width: 220px;padding-top: 145px;margin: auto;left: 0;}
.planet-3-btm-txt{position: absolute;bottom: 0;left: 50%;width: 660px;margin-left: -295px;padding: 15px;border: 1px solid #58838f;
background-color: #041527;color: #fff;text-align: center;font-family: 'PT Sans Narrow', Arial, sans-serif;font-size: 14px;line-height: 24px;}
.new-mod{width: 230px;}



.footer-container{z-index: 10;position: relative;width: 100%;height: 846px;margin-top: 200px;
	background: url(../../imgs/bg/bg-bottom.png) no-repeat center center;background-size: cover; }
.footer-top-cloud-bg{position: absolute;top: -326px;left: 0;width: 100%;height:326px;background-size: cover;
	background: url(../../imgs/bg/clouds.png) no-repeat center bottom;}
.fot-con{width: 100%;height: 100%;position: absolute;top: 0;left: 0;overflow: hidden;}
.clouds div{position: absolute;}

.con-container{position: relative;height: 100%;width: calc(100% - 30px);max-width: 1600px;margin: 0 auto;padding-top: 30px;z-index: 3;}
.observactory{position: absolute;left: 0;bottom: 10%;width: 594px;height: 422px;
	background: url(../../imgs/bg/observatory.png) left top no-repeat;}
.navigator{position: absolute;top: 95px;left: 145px;width: 150px;height: 150px;background: url(../../imgs/bg/navigator.svg) no-repeat;}
.contact{width: 600px;right: 100px;position: absolute;top: 220px;text-align: left;}
.contact .intro{background: #02bb71;color: #fdfdfd;font-size: 10px;font-family:  "PT Sans",Arial,sans-serif;
-webkit-transform:scale(0.9); 
box-shadow: 0 4px #017e4c;vertical-align:middle;height: 30px;display:inline-block;line-height:32px;padding:0 20px;
border-radius: 5px;font-weight: bold;letter-spacing: 1px;}
.contact .intro:hover{box-shadow: 0 2px #017e4c;top: 2px;position: relative;}
.contact h3{margin-top: 25px;font-size: 38px;margin-bottom: 25px;color: #fff;
	font-family: 'PT Sans', Arial, sans-serif;font-weight: bold;}
.contact p{color: #fff;font-size: 16px;line-height: 35px;font-family: 'PT Sans Narrow', Arial, sans-serif;}
.question p{font-size: 16px;margin-top: 20px;line-height: 35px;font-family: 'PT Sans Narrow', Arial, sans-serif;}
.question a{color: #00C6FF;text-decoration: underline;}
